<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
  <div class="jumbotron">
    <h1>¡Solicitud de baja del usuario <%= @user.nombre %>!</h1>

    <h1>Id <%= @user.id %></h1>
    <h1>Id <%= @user.email %></h1>




</div>
   </div>



  </body>
</html>
